body {
    --white: #fcfcfc;
    --dark-green: #1b2627;
    --midnight-green: #2c3d3f;
    --light-green: #b2f35f;

    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--white);
    font-size: 20px;

    display: grid;
    grid-template-columns: minmax(270px, 1fr) 4fr;
    /* height: 100vh; */
}

ul {
    list-style-type: none;
}

.cursor-pointer {
    cursor: pointer;
}

.container {
    margin: 1rem;
    padding: 1rem;
    background-color: #202c2d;
    border-radius: 12px;
}

.sidebar {
    background-color: var(--dark-green);
}

.sidebar > .container {
    display: flex;
    flex-direction: column;
    height: 95%;
}

.sidebar > .container > ul:first-of-type {
    flex: 1;
}

li {
    margin: 1rem 0;
}

h1 {
    margin: 1rem auto;
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

img {
    border-radius: 50%;
  }

.nav-row {
    display: flex;
    padding: 1rem 0;
}

.search {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#search-bar {
    border-radius: 10px;
    width: 40vw;
    background-color: var(--midnight-green);
    border: none;
}

.account {
    margin-left: auto;

    display: flex;
    align-items: center;
}

.account img {
    height: 4vh;
    margin-left: 1rem;
    margin-right: 0.5rem;
}

.buttons {
    margin-left: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    gap: 1rem;
    grid-auto-flow: column;
}

.buttons > button {
    background-color: var(--light-green);
    color: var(--midnight-green);
    padding: 0.5rem 2rem;
    text-decoration: none;
    border-radius: 28px;
    border: none;
}

.buttons > button:hover {
    background: var(--light-green);
    background-image: linear-gradient(to bottom, var(--light-green), #ccff85);
    text-decoration: none;
}

.user {
    display: flex;
    align-items: center;
    gap: 1rem;

}

.user img {
    height: 8vh;
}

.user-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-info > div:last-child {
    font-size: 2rem;
}

main {
    background-color: var(--dark-green);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

nav {
    grid-column: span 3;
}

.projects {
    grid-column: span 2;
    grid-row: span 4;
}

.projects > .container {
    height: 94%;
}

.announcements {
    grid-row: span 2;
}

.announcements > .container {
    height: 85%;
}

.trending {
    grid-row: span 2;
}

.trending > .container {
    height: 88%;
}

.card {
    display: flex;
    flex-direction: column;
    min-height: 25vh;
    background-color: var(--midnight-green);
    border-radius: 12px;
    padding: 2rem;
}

.project-title,
.announcement-title {
    margin-bottom: 0.5rem;
}

.project-description {
    color: #bababa;
    font-size: 1rem;
    flex: 1;
}

.project-buttons {
    margin-top: auto;
    align-self: flex-end;
    margin-top: 1rem;
}

.project-buttons > button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    outline: none;
    color: var(--white);
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
    gap: 1rem;
}

.announcement-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.announcement,
.trends {
    background-color: var(--midnight-green);
    border-radius: 12px;
    padding: 0.5rem;
}

.announcement-description,
.trends-description {
    color: #bababa;
    font-size: 1rem;
}

.trending-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
}

.trends {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.trends img {
    height: 4vh;
}